
/*Calendar formatting*/
#calendar_container {
    padding: 20px;
}

/* Weekday header text */
.fc .fc-col-header-cell-cushion {
    color: #000 !important;
    font-weight: bold !important;
    text-decoration: none !important;
}

/* Day numbers */
.fc .fc-daygrid-day-number {
    color: #000 !important;
    text-decoration: none !important;
}

