html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

/*Calendar formatting*/
#calendar_container {
    padding: 20px;
}

/* Weekday header text */
.fc .fc-col-header-cell-cushion {
    color: #000 !important;
    font-weight: bold !important;
    text-decoration: none !important;
}

/* Day numbers */
.fc .fc-daygrid-day-number {
    color: #000 !important;
    text-decoration: none !important;
}

/*Dining Calendar*/
.event-main {
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
    color: white !important;
}

.event-north {
    background-color: #3f51b5 !important;
    color: white !important;
}

.event-south * {
    background-color: yellow !important;
    border-color: yellow !important;
    color: black !important;
}

/*Carousel Features*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.carousel-indicators [data-bs-target] {
    background-color: white;
}

.caption-bg {
    background: rgba(0, 0, 0, 0.5); /* black with 50% transparency */
    padding: 15px 20px;
    border-radius: 10px; /* optional */
}

