/* Body CSS*/
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}


/*Calendar formatting CSS*/
#calendar_container {
    padding: 20px;
    width: 700px;
    height: 630px;
    overflow-y: auto;    /* Vertical scroll */
    overflow-x: hidden;  /* Prevent sideways scroll */
}

#event_calendar {
    width: 100% !important;
}

/* Mobile screens (Bootstrap style: under 768px) */
@media (max-width: 768px) {
    #calendar_container {
        width: auto;
        height: 550px;
        overflow-y: auto;    /* Add scroll if needed */
        padding: 20px;       /* Optional: more spacing */
    }

    #event_calendar {
        width: 100% !important;   /* Make calendar fit mobile width */
        height: 350px !important; /* Set calendar height */
    }
}

/* Allows scrolling*/
.fc-scrollgrid {
    overflow-y: auto !important;
}

/* Weekday header text */
.fc .fc-col-header-cell-cushion {
    color: #000 !important;
    font-weight: bold !important;
    text-decoration: none !important;
}

/* Day numbers */
.fc .fc-daygrid-day-number {
    color: #000 !important;
    text-decoration: none !important;
}

/* Mobile screens calendar formatting*/
@media (max-width: 768px) {

        /* 80% size of whatever desktop uses */
    .fc {
        font-size: 0.8em !important;
    }
}

/*Dining calendar dynamic coloring CSS*/
.event-main {
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
    color: white !important;
}

.event-north {
    background-color: #3f51b5 !important;
    color: white !important;
}

.event-south * {
    background-color: yellow !important;
    border-color: yellow !important;
    color: black !important;
}


/*Carousel Features*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.carousel-indicators [data-bs-target] {
    background-color: white;
}

.caption-bg {
    background: rgba(0, 0, 0, 0.5); /* black with 50% transparency */
    padding: 15px 20px;
    border-radius: 10px; /* optional */
}

/*Map Formatting */
#map {
    height: 700px
}
@media (max-width: 768px) {
    #map {
        height: 500px
    }
}
